/* src/index.css or styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logout-top-button {
    @apply absolute right-5 top-10 z-40 flex flex-col items-center justify-center rounded-full bg-white p-2 text-2xl font-extrabold text-red-600 lg:right-[100px] lg:top-[60px] lg:text-4xl;
  }
  .ui-head-title {
    @apply absolute left-[50%] top-[4%] flex w-fit -translate-x-[50%] -translate-y-[4%] cursor-pointer items-center justify-center rounded-full bg-[#01634a] px-8 py-3 font-[600] text-white lg:left-[50%] lg:top-[5%] lg:-translate-x-[50%] lg:-translate-y-[5%] lg:text-lg lg:font-bold;
  }
  .dashboard-container {
    @apply flex min-h-[100dvh] flex-col items-center gap-10 bg-cyan-300 pb-[150px] pt-[150px] lg:pt-[200px];
  }
  .orders-status {
    @apply self-center rounded-xl border-2 border-cyan-300 bg-white px-4 py-2 text-lg font-semibold text-cyan-300;
  }
  .order-countdown {
    @apply flex self-center font-mono text-2xl font-bold text-red-500;
  }
  .delivered-button {
    @apply ml-auto cursor-pointer rounded-full bg-green px-7 py-2 font-semibold text-white;
  }
  .input-price {
    @apply w-full rounded-full border-[1px] border-cyan-300 bg-gray-100 px-5 py-3 font-semibold text-cyan-300 placeholder-gray-400 transition focus:outline-none focus:ring-2 focus:ring-cyan-100;
  }
  .input-label {
    @apply font-medium text-green;
  }
  .delivery-box {
    @apply flex w-full flex-col gap-6;
  }
  .delivery-button {
    @apply ml-auto cursor-pointer rounded-full bg-green px-7 py-2 font-semibold text-white;
  }
  .decision-box {
    @apply flex w-full flex-row justify-between;
  }
  .order-state {
    @apply rounded-xl px-2 py-2 text-center font-semibold text-white;
  }
  .location-button {
    @apply col-span-2 flex w-full cursor-pointer items-center justify-center rounded-xl border-[1px] border-cyan-300 px-2 py-2 font-semibold text-cyan-300;
  }
  .order-details {
    @apply col-span-2 w-full rounded-xl px-2 py-2;
  }
  .order-number {
    @apply w-fit rounded-xl p-2 px-3 py-2 font-bold text-green;
  }
  .order-full {
    @apply flex w-full flex-row flex-wrap justify-center gap-10 lg:w-[85%];
  }
  .order-box {
    @apply flex flex-col gap-4 py-3;
  }
  .order-container {
    @apply flex h-fit w-[90%] flex-col gap-5 rounded-3xl border-[1px] border-gray-300 bg-white p-5 2xl:w-[25%];
  }
  .ui-loader {
    @apply flex h-screen w-screen items-center justify-center;
  }
  .logout-button {
    @apply cursor-pointer rounded-xl px-6 py-2 text-white;
  }
  .logout-box {
    @apply flex h-[260px] w-[85%] flex-col items-center gap-8 rounded-xl bg-white p-6 lg:w-[30%];
  }
  .logout-component {
    @apply fixed z-[50] flex h-[100dvh] w-full items-center justify-center bg-gray-800 bg-opacity-80;
  }
  .login-component {
    @apply flex min-h-screen items-center justify-center bg-cyan-300;
  }
  .login-error {
    @apply mb-2 mt-6 text-center text-red-500;
  }
  .login-hide-icon {
    @apply ml-auto flex items-center justify-center px-3;
  }
  .login-input-icon {
    @apply flex items-center justify-center;
  }
  .login-input {
    @apply flex flex-row rounded-xl border-[1px] border-gray-400 pl-4;
  }
  .label-style {
    @apply mb-2 block font-medium text-gray-600;
  }
  .login-box {
    @apply flex w-[90%] max-w-md flex-col gap-10 rounded-3xl border-[1px] border-gray-400 bg-white px-8 py-10 shadow-xl;
  }
  .welcome-Button {
    @apply absolute left-[50%] top-[4%] flex min-w-[270px] -translate-x-[50%] -translate-y-[4%] cursor-pointer items-center justify-center rounded-full border-[1px] border-cyan-100 bg-[#01634a] px-8 py-5 text-[18px] font-bold text-white md:px-16 lg:text-lg lg:font-bold;
  }
  .login-Button {
    @apply mt-6 min-h-[50px] w-full cursor-pointer rounded-md bg-cyan-100 p-3 font-medium text-white shadow-md hover:bg-cyan-100;
  }
  .login-Loader {
    @apply mt-6 flex min-h-[50px] w-full items-center justify-center rounded-md bg-cyan-100 p-3 shadow-md;
  }
  .not-Found {
    @apply flex min-h-screen items-center justify-center bg-cyan-300 text-3xl font-bold text-white;
  }
  .order-card-container {
    @apply flex h-fit w-[92%] flex-col gap-5 rounded-3xl border-[1px] border-gray-300 bg-white p-5 md:w-[70%] lg:w-[75%];
  }
  .navlink {
    @apply flex cursor-pointer flex-col items-center gap-1 p-2;
  }
  .activelink {
    @apply font-bold text-green;
  }
  .inactivelink {
    @apply font-bold text-cyan-300;
  }
  .labelsize {
    @apply text-[17px] lg:text-2xl;
  }
}

html {
  scroll-behavior: smooth;
}
:root {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
